* {
    margin: 0;
}

body {
    background-color: color-mix(in oklab, #04ff00, #25adad 50%);
    background-image: linear-gradient(to right, rgb(215, 43, 43), rgb(221, 164, 57), rgb(253, 253, 88), rgb(22, 170, 22), rgb(27, 27, 232), indigo, violet);
    margin: 12px;
    text-indent: 3em;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    /* margin: 120px; */
    border: 2px solid black;
}

.list-items {
    text-align: center;
   font-style: oblique;
   font-family: geneva;
}

#blank-box {
    margin: 120px;
    background-color: white;
    border: 10px solid black;

    width: 100px;
    height: 100px
}

.hidden-content {
    display: none;
}

.hidden-content.reveal-btn {
    display: block;

}

.button {
    font-size: 30px;
    margin: auto;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: solid 3px #fff;
    background: none;
    color: #fff;
    display: block;
}

#sports {
   flood-color: aqua;
    text-align: left;
    font-weight: 20px;
}
